<!--
Google IO 2012 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahe <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>
<head>
  <title>eZ Summercamp 2015</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <!--link rel="stylesheet" media="all" href="theme/css/app.css"-->
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="theme/css/phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

<slide class="logoslide nobackground">
  <article class="flexbox vcenter">
    <span><img src="images/cjwlogo.png" class="noshadow"></span>
  </article>
</slide>

<slide class="title-slide segue nobackground">
  <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
  <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
  <hgroup class="auto-fadein">
    <h1 data-config-title><!-- populated from slide_config.json --></h1>
    <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
    <p data-config-presenter><!-- populated from slide_config.json --></p>
  </hgroup>
</slide>


<slide class="big" >
  
    <hgroup>
      <h2>Presenters</h2>
      <h3></h3>
    </hgroup>
    <article ><!---

  eZ Summercamp 2015 Talk

  Multiple Colors of Migration

  (c) 2015 Ekkehard Doerre, Donat Fritschy, Jan Meier, Martin Wilde, Felix Woldt, Dirk Lampe


-->

<ul class="build">
<li><strong>Ekke</strong> is a consultant with deep knowledge in eZ Publish 4 and 5, eZ Find / Apache Solr and with a faible for coming cutting edge web technologies. He is one of the organizers of the PHP Unconference since eight years.</li>
<li><strong>Martin</strong> is TODO</li>
<li>
<p><strong>Donat</strong> is owner of Webmanufaktur, a full service web agency in Switzerland. He works as projects manager, software architect and developer and likes thinking outside of the box. In the last year he has been involved in major pure eZ 5 projects.</p>
</li>
<li>
<p>Members of CJW Network</p>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Multiple Colors of Migration</h2>
      <h3></h3>
    </hgroup>
    <article ><ul class="build">
<li>There are still many (too much) eZ Publish legacy sites </li>
<li>eZ Publish 5.4 / 2014.11 is supported until May 2019</li>
<li>So there is a stable business base for the next 4 years</li>
<li>And since one year in internet is seven years in real live, 28 years of best business!</li>
<li>
<p><strong>Why waiting? OK, we try to help you with arguments and know how</strong></p>
</li>
<li>
<p><a href="https://github.com/cjw-network/cjw-summercamp-slides/blob/master/Multiple-Colors-of-Migration.pdf">https://github.com/cjw-network/cjw-summercamp-slides/blob/master/Multiple-Colors-of-Migration.pdf</a></p>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Who is in the audience?</h2>
      <h3>Let us know you better ...</h3>
    </hgroup>
    <article ><ul class="build">
<li>Who is coming from the eZ World?</li>
<li>Who is coming from the Symfony World?</li>
<li>Who has realized eZ Publish 5 sites (productive)?</li>
<li>Who has realized pure eZ Publish 5 sites (no legacy)?</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>DOING Agenda</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Things we would like to discuss:</p>
<ul class="build">
<li>Reasons for not waiting any more</li>
<li>Run legacy only</li>
<li>Run Symfony only</li>
<li>Your fast (easy) way to pure Symfony</li>
<li></li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2>Why waiting?</h2>
      <h3>Pro and cons</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>What are the problems?</h2>
      <h3>Still hard to start, we prepared something</h3>
    </hgroup>
    <article ><ul class="build">
<li>no starting point: a good eZ Publish version like 4.7 is missing</li>
<li>many logic is in templates, everything new, everything different?</li>
<li>no multi site / multi repository setup</li>
<li>performance, performance, performance,</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Why waiting?</h2>
      <h3>Financial reasons - How to sell it to your customer?</h3>
    </hgroup>
    <article ><ul class="build">
<li>update / upgrade - but still no new feature for editors</li>
<li>
<p>many security fixes - but often part of maintenance support</p>
</li>
<li>
<p>Relaunch: Make responsive, look at <a href="http://getbootstrap.com">http://getbootstrap.com</a> or <a href="http://foundation.zurb.com/">http://foundation.zurb.com/</a></p>
</li>
<li>Relaunch: Mobile first, it is coming to marketing people</li>
<li>new feature mobile editing</li>
<li>Do you have one more?</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Why waiting?</h2>
      <h3>Technical reasons for starting now</h3>
    </hgroup>
    <article ><ul class="build">
<li>it is on the upgrade path to eZ Plattform 6</li>
<li>many security and bug fixes</li>
<li>TWIG for new templates and fallback to old templates when needed</li>
<li>easy to extend with Symfony bundles, there are more than 2500 on e.g. <a href="http://knpbundles.com/">http://knpbundles.com/</a></li>
<li>switch to responsive web design and make it mobile first</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Which version to use?</h2>
      <h3>We need a version as a stable base for the next 4 years</h3>
    </hgroup>
    <article ><ul class="build">
<li>eZ Publish 5.3 / 5.4 aka 2014.11 is supported until May 2019</li>
<li>but many fixes are in the legacy bridge (-)</li>
<li>but newer versions are pre alpha (+)</li>
<li>but there is no real save version to switch (-)</li>
<li>solution take our cjwpublish and help to keep it fresh (+)</li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2>Run legacy only</h2>
      <h3></h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Run legacy only</h2>
      <h3>Short introduction</h3>
    </hgroup>
    <article ><ul class="build">
<li>if you only need the bug fixes and security patches in legacy</li>
<li>our arguments won't convince you or your customer</li>
<li>the installation has more than 150 extensions</li>
<li>then link your requests into the legacy folder</li>
<li>go the upgrade path <a href="https://doc.ez.no/display/EZP/Upgrade">https://doc.ez.no/display/EZP/Upgrade</a></li>
<li>and read more <a href="https://doc.ez.no/display/EZP/Legacy+code+and+features">https://doc.ez.no/display/EZP/Legacy+code+and+features</a></li>
<li>but we advice you to go to "Run Symfony only"</li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2>Run Symfony only</h2>
      <h3></h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Team up with a Symfony Crack</h2>
      <h3></h3>
    </hgroup>
    <article ><ul class="build">
<li>To be honest: as eZ 4 developers, we are complete novices in eZ 5</li>
<li>It's easier for a Smyfony Crack to learn eZ than other way round</li>
<li>Symfony community is hungry for a CMS, so watch out for new competition</li>
<li>But @Symfony cracks: It's not easy: an eZ Publish and CMS expert will reduce your risk</li>
<li>And will make your content architecture better and more maintainable</li>
<li><strong>OR take the shortcut for integrators</strong></li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2>CjwPublishToolsBundle</h2>
      <h3>Your easy way to eZ Publish Symfony</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>CjwPublishToolsBundle</h2>
      <h3>for integrators of small to medium sites</h3>
    </hgroup>
    <article ><ul class="build">
<li>He comes from front end design and speaks fluent HTML and CSS</li>
<li>He has no problems with digging into template languages</li>
<li>He prefers solutions with all needed functionality</li>
<li>He wants to develop web sites fast and easy at low cost</li>
<li><a href="https://github.com/cjw-network/CjwPublishToolsBundle">https://github.com/cjw-network/CjwPublishToolsBundle</a></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Treemenu</h2>
      <h3>cjw_treemenu</h3>
    </hgroup>
    <article ><p><img src="images/treemenu.png" alt="" width="613" style="margin-top:-30px"></p>
<li>
<pre class="prettyprint" data-lang="Twig">
{% set treemenu = cjw_treemenu( locationId, {
                      'depth': '2',
                      'offset': '1',
                      'include': [ 'cjw_article', 'cjw_folder', 'cjw_feedback_form' ],
                      'sortby': { 'LocationPriority': 'ASC' },
                      'datamap': false } ) %}
</pre>
</li>

<li>
<pre class="prettyprint" data-lang="Twig">
{% for item in treemenu %}
    {{ ez_content_name( item.node.contentInfo ) }}   
{% endfor %}
</pre>
</li></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Breadcrumb</h2>
      <h3>cjw_breadcrumb</h3>
    </hgroup>
    <article ><p><img src="images/breadcrumb.png" alt="" width="421" style="margin-top:-30px"></p>
<li>
<pre class="prettyprint" data-lang="Twig">
{% set path = cjw_breadcrumb( locationId, { 'offset': '1',
                                            'rootName': 'Home',
                                            'separator': '' } ) %}
{% for item in path.items %}   
       {{ item.name }}        
{% endfor %}
</pre>
</li></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Folder with line view screenshot</h2>
      <h3></h3>
    </hgroup>
    <article ><p><img src="images/folder_with_line_view.png" alt="" width="527" style="margin-top:-30px"></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Folder with line view source code</h2>
      <h3>cjw_fetch_content</h3>
    </hgroup>
    <article ><li>
<pre class="prettyprint" data-lang="Twig">
{% set listChildren = cjw_fetch_content( [ location.id ], { 'depth': '1',
        'limit': listLimit,
        'offset': listOffset,
        'include': [ 'cjw_folder', 'cjw_article', 'cjw_folder_section', 'cjw_file'  ],
        'language': [],
        'datamap': false,
        'count': true } )[ location.id ] %}
</pre>
</li>

<li>
<pre class="prettyprint" data-lang="Twig">        
{% for child in listChildren['children'] %}
    {#{{ render( controller( "ez_content:viewLocation", 
                            {'location': child, 'viewType': 'line'} ) ) }}#}
    {{ cjw_render_location( {'location': child, 'viewType': 'line'} )  }}

{% endfor %}
</pre>
</li></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Pagination (was Google navigator)</h2>
      <h3></h3>
    </hgroup>
    <article ><p><img src="images/pagination.png" alt="" width="529" style="margin-top:-50px"></p>
<ul>
<li>Twig Template</li>
<li><a href="https://github.com/cjw-network/CjwPublishToolsBundle/blob/master/Resources/views/parts/navigator.html.twig">https://github.com/cjw-network/CjwPublishToolsBundle/blob/master/Resources/views/parts/navigator.html.twig</a></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Article full view screenshot</h2>
      <h3></h3>
    </hgroup>
    <article ><p><img src="images/article_full_view.png" alt="" width="741" style="margin-top:-30px"></p></article>
 
</slide>

<slide class="smaller" >
  
    <hgroup>
      <h2>Article full view source code</h2>
      <h3></h3>
    </hgroup>
    <article ><li>
<pre class="prettyprint" data-lang="Twig">
{% extends site_bundle_name ~ '::pagelayout.html.twig' %}
{% block content %}

    {% if content.fields.title is defined and not ez_is_field_empty( content, 'title' ) %}
        {{ ez_field_value( content, 'title' ) }}
    {% endif %}

    {% if content.fields.short_description is defined and not ez_is_field_empty( content, 'short_description' ) %}
        {{ ez_render_field( content, 'short_description' ) }}
    {% endif %}

    {% if content.fields.image is defined and not ez_is_field_empty( content, 'image' ) %}
        {{ ez_render_field( content, 'image', 
                    {parameters: {alias: 'medium', class: 'imageleft'}} ) }}
    {% endif %}

{% endblock %}
</pre>
</li></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO Multi language</h2>
      <h3></h3>
    </hgroup>
    <article ><p><img src="images/ed-de-01.png.png" alt="" width="612" style="margin-top:-30px"></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO Contact Form</h2>
      <h3></h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO Frontend editing</h2>
      <h3></h3>
    </hgroup>
    <article ></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2>TODO, aus 2014 Multi-Site/Multi-Repository Setup</h2>
      <h3></h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Why a Multi-Site/Multi-Repository Setup?</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>At CJW Network we have developed a multi-site/multi-repository setup for eZ Publish 4 several years ago</li>
<li>This allows us to host many individual sites on a single eZ Publish installation</li>
</ul>
<p>Advantages:</p>
<ul>
<li>Central site administration (site activation, cronjobs, ...)</li>
<li>Easy deployment (update site extension with Subversion)</li>
<li>Highly reduced maintenance costs (security patches, upgrades)</li>
<li>Highly efficient use of hardware resources</li>
</ul>
<p>Disadvantages:</p>
<ul>
<li>Some Kernel patches needed</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014Multi-Site/Multi-Repository Setup in eZ 5</h2>
      <h3></h3>
    </hgroup>
    <article ><p><em>First Approach (proven in production and depreciated)</em></p>
<ul class="build fade">
<li class="fade"><em>Use different ezpublish app directories to host the different sites</em></li>
</ul>
<p><strong>Second approach (proven in production)</strong></p>
<ul class="build fade">
<li class="fade">Use TODO ab hier bitte überarbeiten: <code>CJW MultiSiteBundle</code></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014Introducing CJW MultiSiteBundle</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Although the first approach works fine, it has several drawbacks:</p>
<ul class="build">
<li>Application code scattered at different places (site directory, bundle, legacy extension), hard to maintain in VCS, hard to deploy</li>
<li>Redundancy in config files</li>
<li>No global settings</li>
<li>
<p>No central site activation/administration</p>
</li>
<li>
<p>Goal: keep everything in one place!</p>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014CJW MultiSiteBundle Features</h2>
      <h3></h3>
    </hgroup>
    <article ><ul class="build">
<li>Boots kernel and environment based on domain name mappings</li>
<li>Handles local, staging and live domain names</li>
<li>Allows for global activation of bundles</li>
<li>Allows for global settings</li>
<li>Provides a common console for all sites</li>
<li>Caches domain name mappings</li>
<li>Moves cache and log files away from the ezpublish folder</li>
<li>more to come ...</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014cjwpublish Directory</h2>
      <h3></h3>
    </hgroup>
    <article ><p>The <code>cjwpublish</code> application directory sits next to the <code>ezpublish</code> directory.</p>
<pre class="">
cjwpublish
&#8990; config
    cjwpublish.yml                  &lt;-- defines active bundles
    config.yml                      &lt;-- allows for global settings
  CjwPublishKernel.php              &lt;-- inherits from CjwMultiSiteKernel.php
  CjwPublishCache.php               &lt;-- inherits from CjwMultiSiteCache.php
  console
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014Symfony's app directory is back</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Site Bundle Directory Layout</p>
<pre class="">
src
&#8990; Cjw
  &#8990; SiteExampleBundle
    &#8990; app
      &#8990; config
          cjwpublish.yml            &lt;-- contains domain mappings
          config.yml
          ezpublish.yml
          ...
        CjwSiteExampleKernel.php    &lt;-- inherits from CjwPublishKernel.php
        CjwSiteExampleCache.php     &lt;-- inherits from CjwPublishCache.php
    &#8990; Controller
      ...
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014Caveats</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Adjustments needed in <code>config.yml</code> to reflect different relative location of kernel</p>
<pre class="prettyprint" data-lang="yml">
assetic:
    ...
    read_from:      %kernel.root_dir%/../../../../web
    write_to:       %kernel.root_dir%/../../../../web
    ...
ez_publish_legacy:
    ...
    root_dir: %kernel.root_dir%/../../../../ezpublish_legacy

parameters:
    ezpublish.kernel.root_dir: %kernel.root_dir%/../../../../vendor/ezsystems/ezpublish-kernel
</pre>

<p><strong>More problems of this kind expected!</strong></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>TODO, aus 2014 Project Status TODO</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Currently in private Beta, not yet released</li>
<li>Ideas and Feedback welcome</li>
<li>
<p>Public Beta in October</p>
</li>
<li>
<p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#99;&#106;&#119;&#45;&#110;&#101;&#116;&#119;&#111;&#114;&#107;&#46;&#99;&#111;&#109;">&#105;&#110;&#102;&#111;&#64;&#99;&#106;&#119;&#45;&#110;&#101;&#116;&#119;&#111;&#114;&#107;&#46;&#99;&#111;&#109;</a></p>
</li>
<li><a href="https://github.com/cjw-network/MultiSiteBundle">https://github.com/cjw-network/MultiSiteBundle</a></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Ressources</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Slides as PDF</p>
<ul>
<li><a href="https://github.com/cjw-network/cjw-summercamp-slides/blob/master/Multiple-Colors-of-Migration.pdf">https://github.com/cjw-network/cjw-summercamp-slides/blob/master/Multiple-Colors-of-Migration.pdf</a></li>
</ul>
<p>Slides (Source)</p>
<ul>
<li><a href="https://github.com/cjw-network/cjw-summercamp-slides">https://github.com/cjw-network/cjw-summercamp-slides</a></li>
</ul>
<p>CJW MultiSiteBundle TODO link to cjwpublish</p>
<ul>
<li><a href="https://github.com/cjw-network/MultiSiteBundle">https://github.com/cjw-network/MultiSiteBundle</a></li>
<li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#99;&#106;&#119;&#45;&#110;&#101;&#116;&#119;&#111;&#114;&#107;&#46;&#99;&#111;&#109;">&#105;&#110;&#102;&#111;&#64;&#99;&#106;&#119;&#45;&#110;&#101;&#116;&#119;&#111;&#114;&#107;&#46;&#99;&#111;&#109;</a></li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
    <hgroup class="auto-fadein">
      <h2><a href="http://vote.netgenlabs.com/" style="color:#fff;">http://vote.netgenlabs.com/</a></h2>
      <h3>Please Vote!</h3>
    </hgroup>
  
</slide>


<slide class="thank-you-slide segue nobackground">
  <aside class="gdbar right"><img src="images/cjwlogo_128.png" class="noshadow"></aside>
  <article class="flexbox vleft auto-fadein">
    <h2>&lt;Thank You!&gt;</h2>
    <p>Ekkehard D&ouml;rre<br>
    <a href="http://share.ez.no/community/profile/7431">http://share.ez.no/community/profile/7431</a><br>
    <a href="https://twitter.com/ekkeD">@ekkeD</a><br>
    <a href="http://www.coolscreen.de">http://www.coolscreen.de</a></p>
    <p>Donat Fritschy<br>
    <a href="https://github.com/dfritschy">https://github.com/dfritschy</a><br>
    <a href="http://share.ez.no/community/profile/10451">http://share.ez.no/community/profile/10451</a><br>
    <a href="https://twitter.com/webmanufaktur">@webmanufaktur</a><br>
    <a href="http://www.webmanufaktur.ch">http://www.webmanufaktur.ch</a></p>
  </article>
  <!--
  <p class="auto-fadein" data-config-contact>
    <!-- populated from slide_config.json - ->
  </p>
  -->
</slide>

<slide class="backdrop"></slide>

</slides>

<!--
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-XXXXXXXX-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
-->

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>